@import '~assets/styles/core/variables'

h1,
h2,
h5,
h6
  font-family: Poppins, sans-serif
  letter-spacing: 0.22px

h1
  font-weight: 600

h2
  font-weight: 900
  color: $brand-primary
  padding-bottom: 2rem
  text-align: center

h5
  font-weight: 600
  color: $brand-primary
  font-size: 2.2rem

h6
  font-weight: 600
  color: $brand-secondary
  font-size: 1.6rem

p
  line-height: 1.5
  letter-spacing: 0.22px
