input[type=text],
input[type=email],
textarea,
.input
  padding: 1rem 0
  appearance: none
  border: none
  border-bottom: 1px solid #666
  display: block
  width: 100%
  background-color: rgba(0, 0, 0, 0)
  font-size: 1.2rem
  font-weight: 600
  color: $brand-primary

  &.input--light
    border-bottom-color: #9a9899
    background-color: $brand-primary
    color: #ccc
